@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat&family=Work+Sans:wght@500;600&display=swap");

:root {
  /* colors */
  --color-black: #000000;
  --text-black: #080808;

  --color-grey-dark: #808080;
  --color-grey-regular: #cccccc;
  --color-grey-light: #e5e5e5;

  --color-white: #ffffff;
  --color-white-50per: #ffffff80;

  --color-secondary-green: #17bf6f;
  --color-dark-green: #048949;

  --color-red: #da3f3f;
  --color-blue: #006bcd;
  --color-blue-light: #d0e9ff;
  --color-fade-light-blue: #d0e8ff;

  --color-dark-blue: #002f5a;

  /* btn-color */
  --color-btn-hover-fadeBlue: #0058aa;
  --color-btn-hover-fadeWhite: #ececec;

  --color-btn-focus-blue: #006bcd;
  --color-btn-focus-White: #fff;

  /* font */
  --font-Work-sans: "Work Sans", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Inter: "Inter", sans-serif;

  /* icon-color */
  --color-envelpoe: #ffa500;
  --color-phone: #3ddc84;

  --color-footer-background: #1c1c1c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0 !important;
}
.col {
  padding: 0;
}
.col-12 {
  padding: 0;
}

/* ................TYPHOGRAPHY.................... */
h1,
h2,
h3 {
  font-family: var(--font-Work-sans) !important;
  font-style: normal;
  color: var(--text-black);
}
h1 {
  font-weight: 600 !important;
  font-size: 4.8rem !important;
  line-height: 6.4rem !important ;
  font-family: var(--font-Work-sans) !important;
  text-transform: uppercase;
}
h2 {
  font-weight: 500 !important;
  font-size: 3.2rem !important;
  line-height: 4rem !important;
  font-family: var(--font-Work-sans) !important;
}
h3 {
  font-weight: 600 !important;
  font-size: 2.4rem !important;
  line-height: 3rem !important;
  font-family: var(--font-Work-sans) !important;
}
h4 {
  font-weight: 600 !important;
  font-size: 1.8rem !important;
  line-height: 2.4rem !important;
  font-family: var(--font-Inter);
  color: var(--text-black);
}
.para {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: var(--font-Montserrat);
}
.para-small {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-family: var(--font-Montserrat);
}

.btn-text,
.nav-text,
.caption-text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--font-Work-sans);
}
.nav-text {
  color: var(--text-black) !important;
}
.projects_details-card-title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-grey-regular);
  font-family: var(--font-Inter);
  text-transform: uppercase;
}

/*....................default btns.......................... */

/* .primary-btn */
.btn-primary {
  background-color: var(--color-blue);
  padding: 1.6rem 2rem;
  color: var(--color-white);
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}
.btn-primary:hover {
  background-color: var(--color-btn-hover-fadeBlue);
}
.btn-secondary {
  background-color: var(--color-white);
  padding: 1.6rem 2rem;
  color: var(--text-black);
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}
.btn-secondary:hover {
  background-color: var(--color-btn-hover-fadeWhite);
}
.btn-tertiary {
  background-color: var(--color-blue);
  padding: 0.6rem 2rem;
  color: var(--color-white);
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}
.btn-tertiary:hover {
  background-color: var(--color-btn-hover-fadeBlue);
}

/* .............Utilities................. */
.p-50 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.c-w {
  color: var(--color-white);
}
.c-b {
  color: var(--color-blue);
}
.p-0 {
  padding: 0;
}
.mw-22 {
  max-width: 22ch;
}
.mw-59 {
  max-width: 59ch;
}
.mw-22 {
  max-width: 22ch;
}
.mw-21 {
  max-width: 21ch;
}
.mw-15 {
  max-width: 15ch;
}
.h-18 {
  height: 18rem !important;
}
.card-p {
  padding: 5.6rem 2.4rem 8.8rem 2.4rem !important;
}
.fd-column {
  flex-direction: column !important;
}
.pr-16 {
  padding-right: 16rem;
}

/*...................navbar........................ */
.navbar {
  padding-block: 1.4rem;
}
.navbar-nav {
  gap: 3.2rem;
  align-items: center;
  margin: auto;
}
.nav-link::after {
  content: " ";
  display: block;
  background: var(--color-blue);
  margin-top: 0.1rem;
  width: 0;
  margin-right: 0;
  height: 0.4rem;
  border-radius: 0.1rem;
  transition: all 0.5s ease;
}
.nav-link:hover::after {
  width: 100%;
}
.navbar-toggler {
  flex-direction: column;
  display: flex;
  gap: 0.2rem;
}
.navbar-toggler-icon {
  background: var(--color-blue);
  height: 0.4rem !important;
  width: 2.2rem !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

/*..................Carousel.................. */
.hero {
  position: relative;
  height: 100vh;
}
.carousel {
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-inner {
  height: 100vh;
  min-height: 30rem;
}
.carousel-caption {
  top: 30%;
  bottom: unset;
}
.carousel-indicators {
  gap: 0.4rem;
}
.carousel-indicators [data-bs-target] {
  height: 1.2rem !important;
  width: 1.2rem !important;
  border-radius: 50% !important;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-content h1 {
  max-width: 21ch;
  margin: auto;
  text-align: center;
}

/* ...................about_us........................ */
.about_us {
  position: relative;
  padding: 3.2rem 22rem;
}
.about_us .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_us .col-12 > h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.about_us-contents {
  text-align: center;
}
.about_us-contents > .para {
  margin-bottom: 4rem;
  max-width: 63ch;
}
.about_us-contents > .btn-container {
  margin-bottom: 10.2rem;
}
.col-12 > h3 {
  text-align: center;
  margin-bottom: 4rem;
}
.col-6 {
  margin-bottom: 2.4rem;
}

/* ..............benefits section.............. */
.benefits_section {
  position: relative;
  background: linear-gradient(180deg, rgba(204, 231, 255, 0) 0%, #cce7ff 100%);
}
.benefits-div-1 {
  padding: 3.2rem 26rem;
}
.benefits {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.benefits-title {
  margin-bottom: 0.8rem;
}
.benefits-para {
  max-width: 30ch;
}
.bg-seperator {
  position: absolute;
  top: 76rem;
  left: 0;
  height: 22rem;
  width: 100%;
  background: var(--color-dark-blue);
}

/* about_us section */

.about-us {
  position: relative;
}
.union-left {
  position: absolute;
  top: -12rem;
  left: 0;
  z-index: -1;
}
.union-right {
  position: absolute;
  top: -12rem;
  right: 0;
  z-index: -1;
}
/* ..................project-card......................... */

.project-card {
  position: relative;
  /* height: 100vh; */
  /* padding-block: 8rem; */
  background: linear-gradient(180deg, #cce7ff 0%, rgba(204, 231, 255, 0) 35%);
}

/* .............card............ */
.card {
  border-radius: 0.4rem;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(1, 30, 88, 0.15);
  margin-bottom: 4.8rem !important;
  transition: all 0.5s ease;
  margin: 1rem;
}
.card:hover {
  transform: scale(1.05);
}
.card-logo-link {
  position: relative;
}
.card-logo-link > img {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.card-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-block: 1.4rem;
  background: rgba(0, 0, 0, 0.4);
}
.card-title {
  padding-block: 2.4rem;
}

.project-card .btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
.project-card .col-4 {
  width: 30%;
}

/* ....................news_section..................... */
.news_section {
  background: var(--color-white);
  padding: 0 0 10rem 0;
}
.news_section .btn-container {
  display: flex;
  justify-content: center;
}

/* ....................map......................... */
.map .row {
  background: var(--color-dark-blue);
}
.map .col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34.2rem !important ;
}
.map-contents {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.map .map-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.map-icon-home,
.map-icon-phone,
.map-icon-envelope {
  background: var(--color-blue);
  border-radius: 50%;
  padding: 1.2rem;
  transition: all 0.5s ease;
}
.map-icon-home,
.map-icon-phone,
.map-icon-envelope > i {
  color: var(--color-white);
  font-size: 2.4rem;
  transition: all 0.5s ease;
}
.map-icon-home:hover {
  background: var(--color-btn-hover-fadeBlue);
  transition: all 0.5s ease;
}
.map-icon-phone:hover {
  background: var(--color-phone);
  transition: all 0.5s ease;
}
.map-icon-envelope:hover {
  background: var(--color-envelpoe);
  transition: all 0.5s ease;
}
.map h3 {
  color: var(--color-white);
}
.map-box iframe {
  width: 100%;
  height: 34.2rem !important ;
}

/* ...................footer....................... */

.footer {
  padding-top: 4rem;
  background: var(--color-footer-background);
}
.footer-contents {
  margin-bottom: 3.2rem;
}
.footer-contents > h3 {
  margin-bottom: 2.4rem;
}
.footer-contents > .para {
  margin-bottom: 0.8rem;
  color: var(--color-grey-dark);
  transition: all 0.2s ease;
}
.footer-contents > .para:hover {
  color: var(--color-btn-hover-fadeWhite);
}
.footer-seperator {
  height: 0.2rem !important;
  width: 100%;
  outline: none;
  background: var(--color-black);
}
.footer .row:last-child {
  padding-block: 4rem;
  align-items: center;
}
.footer-social-icons {
  display: flex;
  gap: 2rem;
}
.footer-logo {
  display: flex;
  justify-content: end;
}

/* ................copyright.................... */
.copyright {
  background: var(--color-black);
  padding-block: 1rem;
  text-align: center;
}

/* .......................OUR COMPANY PAGE STYLING...................... */

.hero-box {
  position: absolute;
  top: 40rem;
  width: 100%;
  height: 100vh;
}
.work-steps {
  clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
  background: var(--color-blue-light);
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.our-mission {
  box-shadow: 0px 14px 24px rgba(1, 30, 88, 0.25);
  max-width: 32rem;
}
.how-we-work,
.our-mission {
  background-color: var(--color-white);
  padding: 3rem;
  margin: 3rem;
}
.how-we-work .para {
  max-width: 58ch;
}
.our-mission .para {
  max-width: 22ch;
}
.hero-box-bg-seperator {
  height: 20rem;
  top: 56rem;
  z-index: -1;
}

/* .............our_history styling............ */
.our_history {
  padding-block: 9rem;
  background: linear-gradient(180deg, #cce7ff 0%, rgba(204, 231, 255, 0) 100%);
  position: relative;
  top: 39rem;
  height: 100vh;
}
#our_history > div > div:nth-child(3) > div > div.our_history-contents {
  padding-right: 16rem;
}
.our_history-contents > h3 {
  margin-bottom: 2rem;
}
.our_history .our_history-title {
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}
.our_history .col {
  display: flex;
  gap: 13.2rem;
  justify-content: space-between;
  margin-bottom: 5.6rem;
}
.our_history .para {
  max-width: 46ch;
}
.testimonial-title {
  text-align: center;
  margin-bottom: 7rem;
}
.testimonial_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
  border-radius: 0.4rem;
  height: 82rem;
  box-shadow: 0px 14px 24px rgba(1, 30, 88, 0.25);
}

body
  > main
  > section.our_history
  > div
  > div:nth-child(5)
  > div:nth-child(3)
  > div {
  padding: 5.6rem 2.4rem 2.8rem 2.4rem;
}
body
  > main
  > section.our_history
  > div
  > div:nth-child(5)
  > div:nth-child(3)
  > div
  > p:nth-child(4) {
  margin-bottom: 2.4rem;
}
.testimonial_card-img-box {
  margin-bottom: 3.4rem;
}
.testimonial_card-img-box > img {
  border-radius: 50%;
}
.testimonial_card > h3 {
  margin-bottom: 0.8rem;
}
.testimonial_card > .para-small {
  margin-bottom: 2rem;
}
.testimonial_card .para {
  max-width: 27ch;
}
.btn-container {
  text-align: center;
}

/* .......................PROJECTS PAGE CARDS.................... */
.project_page-cards {
  padding-block: 6rem;
}
.project_page-cards .col-12 > .para {
  text-align: center;
  max-width: 62ch;
  margin: auto;
  margin-bottom: 3.2rem;
}
.scroll-container {
  position: absolute;
  right: 10rem;
  bottom: 5.4rem;
}
.btn-scroll {
  padding: 2rem;
  background: var(--color-dark-blue);
  border-radius: 50%;
  transition: all 0.4s ease;
}
.btn-scroll:hover {
  background: var(--color-btn-hover-fadeBlue);
}
.btn-scroll > i {
  font-size: 2rem;
  color: var(--color-white);
}

/* ......................OUR SERVICES PAGE STYLING......................... */
.our_services {
  margin-block: 4rem;
}
.our_services-div-first {
  margin-bottom: 4rem;
}
.our_services-div-first .para {
  max-width: 47ch;
}
.details {
  background: var(--color-blue-light);
  padding: 2rem 1.6rem;
  height: 24.2rem;
  margin-bottom: 3.8rem;
}
.details-title {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  position: relative;
  margin-bottom: 1.6rem;
}
.details-title::after {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background: var(--color-black);
  content: " ";
  bottom: 0;
  left: 0;
}
.details-title > .logo {
  margin-bottom: 1.6rem;
}
.details-title > .para {
  max-width: 25ch;
}

/* our company footer */
.ourcompany-footer {
  position: relative;
  top: 204.6rem !important;
}
.ourcompany-copyright {
  position: relative;
  top: 204.6rem;
}

/* News page Styling */
.news_page {
  padding-block: 4rem;
}
.news_page-img-box {
  margin-bottom: 1.6rem;
}
.news_page-contents {
  margin-bottom: 4rem;
}
.news_page-contents > h4 {
  max-width: 22ch;
}

/* .....................sign_work page..................  */
.sign_work {
  background: var(--color-white);
  padding: 6rem 30rem;
}
.sign_work-form {
  padding: 4.8rem 4.6rem;
  box-shadow: 0 0 4rem rgba(1, 30, 88, 0.15);
  background: var(--color-white);
  border-radius: 0.4rem;
}
.input-type-text {
  margin-bottom: 2.2rem;
}
.input-type-text,
.input-type-email {
  border: 0.1rem solid var(--color-grey-regular);
  padding: 1rem 1.2rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.text,
.email {
  border: none;
  outline: none;
}
.input-type-text,
.input-type-email > i {
  font-size: 2.4rem;
}
.message {
  width: 100%;
  outline: none;
  padding: 1rem 2.8rem;
  border: 0.1rem solid var(--color-grey-regular);
  height: 14.8rem;
}
.sign_work-form .btn-container {
  text-align: end;
}

/* .............project details page ..............*/

.project_name {
  margin-block: 2rem;
}
.project_name span {
  color: var(--color-blue);
}
.project_name .para {
  color: var(--color-grey-dark);
}
.projects_details {
  position: relative;
  left: 0;
  bottom: 50rem;
}
.projects_details-title {
  padding: 3.8rem 22rem 3.8rem 3.6rem;
  background: var(--color-white);
}
.projects_details-title > h2 {
  max-width: 33ch;
}
.projects_details-card {
  padding: 4.4rem;
  box-shadow: 0px 14px 24px rgba(1, 30, 88, 0.25);
  max-width: 32rem;
  background: var(--color-white);
}
.projects_details-card-icon {
  margin-bottom: 2rem;
}
.projects_details-card-title {
  margin-bottom: 0.2rem;
}
.projects_details-info {
  margin-block: 4rem;
}
.projects_details-info > .para {
  max-width: 47ch;
}

/* other_projects */
.other_projects {
  position: relative;
  left: 0;
  bottom: 42rem;
}
.other_projects-title {
  text-align: center;
  margin-bottom: 4rem;
}
.other_projects-img {
  position: relative;
}
.other_projects-img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding-block: 2.4rem;
  text-align: center;
}

/* status */
.status {
  background: var(--color-dark-blue);
  padding-block: 8rem;
  position: relative;
  left: 0;
  bottom: 42rem;
}
.status-title {
  text-align: center;
  margin-bottom: 4rem;
}
.status-info {
  text-align: center;
}
.status-info > h1 {
  margin-bottom: 0.8rem;
}
.status-info > h4 {
  color: var(--color-btn-hover-fadeWhite);
}
.projects_details-footer,
.projects_details-copyright {
  position: relative;
  left: 0;
  bottom: 42rem;
}

/* ...............news_article page styling................ */
.news_article {
  padding: 0 32rem 0 32rem;
}
.news_article-title {
  text-align: center;
  margin-bottom: 2.4rem;
}
.news_article-img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}
body > header > main > section > div > div:nth-child(3) {
  padding: 0 9rem 0 9rem;
}
.news_article-content-1-info {
  margin-bottom: 2.4rem;
}
.news_article-content-2-img-box {
  margin-bottom: 3.8rem;
}
.news_article-content-3-title {
  margin-bottom: 1.6rem;
}
.news_article-content-3-info {
  margin-bottom: 3.2rem;
}

/* ................Mediia Queries.....................  */
@media screen and (max-width: 768px) {
  .hero {
    height: 56vh;
  }
  .hero-content {
    width: 100%;
  }
  h1 {
    font-size: 4rem !important;
    line-height: 5.4rem !important;
  }
  .navbar-nav {
    align-items: flex-start;
    padding-block: 3rem;
  }
  .navbar-collapse {
    padding-block: 6rem;
  }

  /* carousel */
  .carousel-indicators {
    bottom: 56rem !important;
  }
  .about_us {
    padding: 2rem 5rem;
  }
  .benefits-div-1 {
    padding: 0;
  }
  .project-card .col-4 {
    width: 50%;
  }
  .project-card {
    background: linear-gradient(180deg, #cce7ff 0%, rgba(204, 231, 255, 0) 30%);
  }
  body > main > section.project-card > div > div > div.row {
    gap: 0;
    justify-content: space-around;
  }
  body > main > section.project-card > div > div > div.row {
    justify-content: inherit;
    gap: 0;
  }
  .benefits {
    flex-direction: column;
  }
  .about-benefits {
    text-align: center;
  }
  .project-card > .container {
    padding: 0 !important;
  }
  .project-card .row {
    margin: auto;
  }
  .card-title > h4 {
    max-width: 10ch;
  }
  .card-title > h4 {
    margin: auto;
    max-width: 21ch;
  }
  .bg-seperator {
    top: 100.6rem;
    height: 44rem;
  }
  .union-left,
  .union-right {
    top: -30rem;
  }
  .map .row {
    flex-direction: column;
  }
  .map .col {
    padding-block: 4rem;
  }
  .map .col-6 {
    width: 100%;
  }
  .map .map-info {
    gap: 4rem;
  }

  /* ourCompany page  */
  .hero-box {
    top: 30rem;
  }
  .hero-box .col-4 {
    width: 50%;
  }
  .hero-box .col-3 {
    width: 50%;
  }
  .our_history {
    top: 70rem;
  }
  .hero-box-bg-seperator {
    top: 58.6rem;
  }
  .ourcompany-footer {
    top: 332.6rem !important;
  }
  .ourcompany-copyright {
    top: 332.6rem;
  }

  /* .our_history */
  .our_history .col {
    flex-direction: column-reverse;
    gap: 2rem;
    margin-bottom: 2.4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body > main > section.our_history > div > div:nth-child(3) > div {
    flex-direction: column;
  }
  #our_history > div > div:nth-child(3) > div > div.our_history-contents {
    padding-right: inherit !important;
  }
  .our_history .para {
    max-width: 63ch;
  }
  .our_history .col-4 {
    width: 50%;
  }
  .project_page-cards .col-4 {
    width: 50%;
  }
  .scroll-container {
    right: 38rem;
  }
  .project_page-cards .card-link {
    top: 42.5rem !important;
  }

  /* .our_services */
  .our_services-div-second .col-3 {
    width: 50%;
  }

  /* .news_page  */
  .news_page .col-3 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* .sign_work */
  .sign_work-hero {
    height: 50vh;
  }
  .sign_work {
    padding: 0 !important;
    margin-block: 6rem;
  }

  /* .projects_details */
  .projects_details-title {
    padding: 4rem;
  }
  .projects_details-card {
    padding: 2rem;
  }
  body > main > section.status > div > div:nth-child(2) {
    flex-direction: column;
  }
  .status-info {
    margin-bottom: 4rem;
  }

  /* .news_article */
  .news_article {
    padding: 0;
  }
  body > header > main > section > div > div:nth-child(3) {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: 35vh;
  }
  h1 {
    font-size: 3.2rem !important;
    line-height: 4.4rem !important;
  }
  .navbar-nav {
    align-items: center;
    padding-block: 3rem;
  }
  .navbar-collapse {
    padding-block: 3rem;
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }
  .w-100 {
    width: 100%;
    text-align: center;
  }
  /* carousel */
  .carousel-indicators {
    bottom: 49rem !important;
  }
  .about_us {
    padding: 4rem 1rem;
  }
  .about_us-contents {
    text-align: start;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col-6 {
    width: 100% !important;
  }
  .benefits {
    flex-direction: row;
  }
  .about-benefits {
    text-align: start !important;
  }
  .project-card {
    padding-block: 3rem;
    background: linear-gradient(180deg, #cce7ff 0%, rgba(204, 231, 255, 0) 12%);
  }
  .project-card > .container {
    padding: 0 2rem !important;
  }
  body > main > section.project-card > div.container > div > div.row > div {
    width: 100%;
  }
  .benefits-para {
    max-width: 25ch;
  }
  body
    > main
    > section.news_section.about_us
    > div
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div.about-benefits
    > p {
    max-width: inherit;
  }
  .union-left,
  .union-right {
    display: none;
  }
  .bg-seperator {
    height: 160rem !important;
    top: 100.6rem;
  }
  .about_us-contents > .btn-container {
    margin-bottom: 4.8rem;
  }
  .news_section .benefits {
    flex-direction: column;
  }
  .news_section .benefit-icon,
  .news_section .benefit-icon > img {
    width: 100%;
  }
  .map .map-info {
    gap: 2rem;
  }
  .map h3 {
    max-width: 20ch !important;
  }
  .footer .container {
    padding: 0 3rem;
  }
  .footer .row {
    text-align: start;
  }
  .footer .col-4 {
    width: 100% !important;
  }
  .mw-22 {
    max-width: none;
  }
  .footer-social-icons {
    justify-content: center;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer .row:last-child {
    gap: 2rem;
  }

  /* Our Company  */
  .hero-box {
    top: 18rem;
  }
  .hero-box .col-4 {
    width: 100%;
  }
  .hero-box .col-4 .our-mission {
    margin: auto;
  }
  .hero-box .col-3 {
    width: 100%;
  }
  .hero-box-bg-seperator {
    top: 96.6rem;
    height: 95rem !important;
  }
  body > section > div.hero-box > div.container > div:nth-child(2) {
    padding-block: 2rem;
  }
  .ourcompany-footer {
    top: 560.6rem !important;
  }
  .ourcompany-copyright {
    top: 560.6rem;
  }
  .our_history .col-4 {
    width: 100%;
  }
  .our_history {
    top: 182rem;
    padding-block: 4rem;
  }
  .our_history .col {
    gap: 2rem;
  }
  .our_history .col-4 {
    padding: 0 2rem;
  }
  .our_history-img-box {
    display: flex;
    justify-content: center;
  }
  .our_history-img-box > img {
    width: 90%;
  }
  .our_history-contents {
    margin: 0 2.2rem;
  }
  .scroll-container {
    right: 20rem;
  }
  .project_page-cards .card-link {
    top: 42.4rem !important;
  }

  /* .our_services */
  .our_services-div-second .col-3 {
    width: 100%;
  }

  /* .news_page */
  .news_page .col-3 {
    width: 100%;
  }

  /* .sign_work */
  .sign_work-form {
    padding: 2rem;
  }

  /* .projects_details */
  .projects_details {
    bottom: 0;
  }
  .projects_details .col-8 {
    width: 100%;
  }
  .projects_details .col-4 {
    width: 100%;
    justify-content: center !important;
  }
  .projects_details .col-6 {
    margin-bottom: 0;
  }
  .projects_details-info {
    margin-block: 2rem;
  }
  .projects_details-img-box {
    display: flex;
    justify-content: center;
  }
  .other_projects {
    padding-top: 4rem;
  }
  .other_projects,
  .status,
  .projects_details-footer,
  .projects_details-copyright {
    bottom: 0;
  }

  /* .news_article */
  .news_article .col-4,
  .news_article .col-8 {
    width: 100%;
    padding: 0;
  }
  body > header > main > section > div > div:nth-child(3) {
    padding: 0 3rem;
  }
  .project_name .para {
    padding: 0 3rem;
    text-align: center;
  }
  .news_article-content-2-img-box {
    display: flex;
    justify-content: center;
  }
}
